.main-container{
    margin-top: 3rem !important;
    width: 675px;
    height: 400px;
    margin: auto;
    padding: 40px !important;
    position: relative;
}

.centered-anchor {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

a{
    text-decoration: none;
}